# Hotel-Pricing-Analysis
## Machine Learning Models

In [130]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [131]:
df_mum = pd.read_csv("Hotel-Pricing-Analysis/Dataset/Cleaned_Score/mumbai_hotels_scored_cleaned.csv")
df_mum.insert(2, "City", ['Mumbai' for x in range(df_mum.shape[0])], True)
df_del = pd.read_csv("Hotel-Pricing-Analysis/Dataset/Cleaned_Score/delhi_hotels_scored_cleaned.csv")
df_del.insert(2, "City", ['Delhi' for x in range(df_del.shape[0])], True)
df_ban = pd.read_csv("Hotel-Pricing-Analysis/Dataset/Cleaned_Score/bangalore_hotels_scored_cleaned.csv")
df_ban.insert(2, "City", ['Bangalore' for x in range(df_ban.shape[0])], True)
df_che = pd.read_csv("Hotel-Pricing-Analysis/Dataset/Cleaned_Score/chennai_hotels_scored_cleaned.csv")
df_che.insert(2, "City", ['Chennai' for x in range(df_che.shape[0])], True)
df_kol = pd.read_csv("Hotel-Pricing-Analysis/Dataset/Cleaned_Score/kolkata_hotels_scored_cleaned.csv")
df_kol.insert(2, "City", ['Kolkata' for x in range(df_kol.shape[0])], True)

df = df_mum.copy(deep=True)
df = df.append(df_del, ignore_index = True)
df = df.append(df_ban, ignore_index = True)
df = df.append(df_che, ignore_index = True)
df = df.append(df_kol, ignore_index = True)
dum = pd.get_dummies(df.City)
df=df.drop('City', axis=1)
df = pd.concat([df, dum], axis=1)
df

,Name,Latitude,Longitude,Air conditioning,Housekeeping,Private balcony,Private bathrooms,VIP room facilities,Complimentary toiletries,Room service,...,Rating,Number of reviews,Price,Distance Score,Review Score,Bangalore,Chennai,Delhi,Kolkata,Mumbai
0,Lemon Tree Premier-Mumbai International Airport,19.107975,72.882187,1,0,0,0,0,0,1,...,4.5,382,3883,163.06,8.42,0,0,0,0,1
1,The Fern - Goregaon,19.162237,72.857132,1,0,0,0,0,0,1,...,4.5,771,3541,134.39,9.27,0,0,0,0,1
2,"Taj Lands End, Mumbai",19.043695,72.819252,1,1,0,1,1,1,1,...,4.5,4732,5459,208.03,9.50,0,0,0,0,1
3,Grand Hyatt Mumbai Hotel & Residences,19.076893,72.851112,1,1,0,1,1,1,1,...,4.5,4709,5617,201.62,9.50,0,0,0,0,1
4,"Trident, Bandra Kurla, Mumbai",19.066547,72.867554,1,1,0,0,1,0,1,...,4.5,4613,5040,189.10,9.50,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1223,Backpackers Park,22.554041,88.351837,0,0,0,0,0,0,0,...,4.0,10,800,574.08,4.20,0,0,0,1,0
1224,Hotel Hazarduari,22.610069,88.404060,0,0,0,0,0,0,0,...,4.0,6,2621,353.09,4.12,0,0,0,1,0
1225,Collection O 207 Beck Bagan Ballygunge,22.538570,88.362839,1,0,0,0,0,0,1,...,4.0,5,1361,573.32,4.10,0,0,0,1,0
1226,Mira Guest House,22.543240,88.356361,1,0,0,0,0,0,0,...,4.0,6,2822,578.03,4.12,0,0,0,1,0
1227,Sremon Inn,22.605690,88.411102,1,1,0,0,0,0,1,...,3.5,19,1915,349.10,3.87,0,0,0,1,0

## Normalization (min-max normalization)

In [132]:
# Function to normalize the price
def normalize(in_price):
    return (in_price-Min['Price'])/(Max['Price']-Min['Price'])

# Fuction to denormalize the price
def denormalize(pred_price):
    return pred_price*(Max['Price']-Min['Price'])+Min['Price']

In [133]:
df_norm = df.copy(deep=True)
Min = {}
Max = {}

Min['Latitude'] = min(df_norm['Latitude'])
Min['Longitude'] = min(df_norm['Longitude'])
Min['Rating'] = min(df_norm['Rating'])
Min['Number of reviews'] = min(df_norm['Number of reviews'])
Min['Price'] = min(df_norm['Price'])

Max['Latitude'] = max(df_norm['Latitude'])
Max['Longitude'] = max(df_norm['Longitude'])
Max['Rating'] = max(df_norm['Rating'])
Max['Number of reviews'] = max(df_norm['Number of reviews'])
Max['Price'] = max(df_norm['Price'])

df_norm['Latitude'] = (df_norm['Latitude'] - min(df_norm['Latitude']))/(max(df_norm['Latitude']) - min(df_norm['Latitude']))
df_norm['Longitude'] = (df_norm['Longitude'] - min(df_norm['Longitude']))/(max(df_norm['Longitude']) - min(df_norm['Longitude']))
df_norm['Rating'] = (df_norm['Rating'] - min(df_norm['Rating']))/(max(df_norm['Rating']) - min(df_norm['Rating']))
df_norm['Number of reviews'] = (df_norm['Number of reviews'] - min(df_norm['Number of reviews']))/(max(df_norm['Number of reviews']) - min(df_norm['Number of reviews']))
df_norm['Price'] = (df_norm['Price'] - min(df_norm['Price']))/(max(df_norm['Price']) - min(df_norm['Price']))
df_norm

,Name,Latitude,Longitude,Air conditioning,Housekeeping,Private balcony,Private bathrooms,VIP room facilities,Complimentary toiletries,Room service,...,Rating,Number of reviews,Price,Distance Score,Review Score,Bangalore,Chennai,Delhi,Kolkata,Mumbai
0,Lemon Tree Premier-Mumbai International Airport,0.411798,0.006360,1,0,0,0,0,0,1,...,0.875,0.042076,0.147742,163.06,8.42,0,0,0,0,1
1,The Fern - Goregaon,0.415071,0.004768,1,0,0,0,0,0,1,...,0.875,0.085036,0.132959,134.39,9.27,0,0,0,0,1
2,"Taj Lands End, Mumbai",0.407920,0.002363,1,1,0,1,1,1,1,...,0.875,0.522474,0.215863,208.03,9.50,0,0,0,0,1
3,Grand Hyatt Mumbai Hotel & Residences,0.409922,0.004386,1,1,0,1,1,1,1,...,0.875,0.519934,0.222693,201.62,9.50,0,0,0,0,1
4,"Trident, Bandra Kurla, Mumbai",0.409298,0.005430,1,1,0,0,1,0,1,...,0.875,0.509332,0.197752,189.10,9.50,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1223,Backpackers Park,0.619690,0.988821,0,0,0,0,0,0,0,...,0.750,0.000994,0.014480,574.08,4.20,0,0,0,1,0
1224,Hotel Hazarduari,0.623070,0.992138,0,0,0,0,0,0,0,...,0.750,0.000552,0.093192,353.09,4.12,0,0,0,1,0
1225,Collection O 207 Beck Bagan Ballygunge,0.618757,0.989520,1,0,0,0,0,0,1,...,0.750,0.000442,0.038729,573.32,4.10,0,0,0,1,0
1226,Mira Guest House,0.619038,0.989109,1,0,0,0,0,0,0,...,0.750,0.000552,0.101880,578.03,4.12,0,0,0,1,0
1227,Sremon Inn,0.622806,0.992585,1,1,0,0,0,0,1,...,0.625,0.001988,0.062676,349.10,3.87,0,0,0,1,0

In [134]:
X = df_norm.drop(['Name', 'Price'], axis = 1)
X = np.array(X)

In [135]:
y = np.array(df_norm['Price'])

## Feature selection using RFE (Recursive Feature Elimination)

In [136]:
# Feature selection
Model = LinearRegression()
Rfe = RFE(Model, n_features_to_select = 50)
Fit = Rfe.fit(X,y)
selected = Fit.support_
selected

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True, False,  True,  True, False,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True])

In [137]:
tbd = []
l = len(selected)
for i in range(l):
    if selected[i]==False:
        tbd.append(i)
        
tbd

[20, 22, 25, 27, 28, 37, 43, 51]

In [138]:
X = np.delete(X, tbd, 1)
X

array([[0.41179753, 0.00635952, 1.        , ..., 0.        , 0.        ,
        1.        ],
       [0.41507103, 0.00476831, 1.        , ..., 0.        , 0.        ,
        1.        ],
       [0.40791971, 0.00236259, 1.        , ..., 0.        , 0.        ,
        1.        ],
       ...,
       [0.61875654, 0.98951999, 1.        , ..., 0.        , 1.        ,
        0.        ],
       [0.61903822, 0.98910862, 1.        , ..., 0.        , 1.        ,
        0.        ],
       [0.62280569, 0.99258516, 1.        , ..., 0.        , 1.        ,
        0.        ]])

## Splitting of data into train and test set

In [139]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=53)
# for random state = 42 and number of features = 25 the results are good
# also for random state = 40 and number of features = 50, test_size = 0.2 in both cases
# random_state = 40
# random_state = 59 for scores (or 18 which is less)
# random_state = 53 for all cities together

## Linear Regression Model

In [140]:
reg = LinearRegression().fit(X_train,y_train)

In [141]:
print("train score =", reg.score(X_train,y_train))
print("test score =", reg.score(X_test,y_test))

train score = 0.30797605314173915
test score = 0.3940619933834655

## Finding the optimal value of number of features to be selected by RFE for highest score

In [142]:
mx_test = 0
mx_train = 0
for j in range(58):
    X = df_norm.drop(['Name', 'Price'], axis = 1)
    X = np.array(X)
    y = np.array(df_norm['Price'])
    Model = LinearRegression()
    Rfe = RFE(Model, n_features_to_select = j+1)
    Fit = Rfe.fit(X,y)
    selected = Fit.support_
    tbd = []
    l = len(selected)
    for i in range(l):
        if selected[i]==False:
            tbd.append(i)
    X = np.delete(X, tbd, 1)
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=53)
    reg = LinearRegression().fit(X_train,y_train)
    print(j+1, "train score =", reg.score(X_train,y_train))
    print(j+1, "test score =", reg.score(X_test,y_test))
    if mx_test < reg.score(X_test,y_test):
        mx_test = reg.score(X_test,y_test)
        test_train = reg.score(X_train,y_train)
        pos_test = j+1
    if mx_train < reg.score(X_train,y_train):
        mx_train = reg.score(X_train,y_train)
        train_test = reg.score(X_test,y_test)
        pos_train = j+1
print("\nHighest train score =",mx_train)
print("Corressponding test score =",train_test)
print("For",pos_train,"selected features")
print("\nHighest test score =",mx_test)
print("Corressponding test score =",test_train)
print("For",pos_test,"selected features")

1 train score = 0.15492626802803666
1 test score = 0.3434271822787558
2 train score = 0.15695355221917018
2 test score = 0.34879352753851134
3 train score = 0.15695372814899167
3 test score = 0.34877731509545373
4 train score = 0.15707615817892262
4 test score = 0.34839421696382655
5 train score = 0.15857837403969388
5 test score = 0.3487851015509408
6 train score = 0.16124909639910712
6 test score = 0.3521835027937915
7 train score = 0.16199981694254184
7 test score = 0.3514008376381643
8 train score = 0.16199981694254184
8 test score = 0.351400837638165
9 train score = 0.16199981694254195
9 test score = 0.3514008376381641
10 train score = 0.2030881795013425
10 test score = 0.3834838941191101
11 train score = 0.20953639455646889
11 test score = 0.38970612872812893
12 train score = 0.22003357876949425
12 test score = 0.4032350282134908
13 train score = 0.24563275361111914
13 test score = 0.4010546737694738
14 train score = 0.248103805544153
14 test score = 0.4051957387347408
15 train score = 0.25197481434056623
15 test score = 0.4040897007650367
16 train score = 0.2553816243122824
16 test score = 0.40736895443391297
17 train score = 0.261743798974268
17 test score = 0.4179527404538159
18 train score = 0.26374651851306086
18 test score = 0.40973711777713806
19 train score = 0.26635164074951023
19 test score = 0.4100916297730286
20 train score = 0.26705601285273006
20 test score = 0.41267482766792984
21 train score = 0.27240801920639257
21 test score = 0.41710204648400073
22 train score = 0.275953461312584
22 test score = 0.4183765665692374
23 train score = 0.2772300924468588
23 test score = 0.4209367625210728
24 train score = 0.2794456183586148
24 test score = 0.41560311741938805
25 train score = 0.2826962113598146
25 test score = 0.40840131518595857
26 train score = 0.2829796617616037
26 test score = 0.4128560918972999
27 train score = 0.2855808359242048
27 test score = 0.41393524513128044
28 train score = 0.2870408514125157
28 test score = 0.4191940814848433
29 train score = 0.28734416295782284
29 test score = 0.42056278303699934
30 train score = 0.28737910436171543
30 test score = 0.42006175561147086
31 train score = 0.287704627883667
31 test score = 0.4196192812784969
32 train score = 0.29822586840926335
32 test score = 0.41555369121047747
33 train score = 0.2995960948229902
33 test score = 0.413452792397088
34 train score = 0.3002317820262258
34 test score = 0.41362408480114854
35 train score = 0.3006055165411621
35 test score = 0.4154302215197919
36 train score = 0.30062179202342065
36 test score = 0.414935360019246
37 train score = 0.30133534159021025
37 test score = 0.4147325802268518
38 train score = 0.3014280907250054
38 test score = 0.41602125769121756
39 train score = 0.30253967172400487
39 test score = 0.412445177828894
40 train score = 0.303166041004998
40 test score = 0.411280356987322
41 train score = 0.30373549022232127
41 test score = 0.41152144785045175
42 train score = 0.3037921847189111
42 test score = 0.4122174909228078
43 train score = 0.30401305849793636
43 test score = 0.41223199355540896
44 train score = 0.3051838338410148
44 test score = 0.4092698946303597
45 train score = 0.305706554438567
45 test score = 0.4077877692799593
46 train score = 0.3064993479537984
46 test score = 0.40422231301015377
47 train score = 0.30650607918823025
47 test score = 0.403939659389254
48 train score = 0.3070897409889649
48 test score = 0.4005696629959301
49 train score = 0.3070922769630998
49 test score = 0.40076177515148736
50 train score = 0.30797605314173915
50 test score = 0.3940619933834655
51 train score = 0.3080104373257877
51 test score = 0.39328471469803794
52 train score = 0.3080638219169033
52 test score = 0.39321396653319474
53 train score = 0.30666823041659497
53 test score = -4.562564822238702e+22
54 train score = 0.3081023405735386
54 test score = -392033109948959.7
55 train score = 0.3062166756592566
55 test score = -5.931600497051877e+20
56 train score = 0.3081592817800106
56 test score = -1.378646705261523e+18
57 train score = 0.30987702594035704
57 test score = 0.3967704597509747
58 train score = 0.30991534110122776
58 test score = 0.39643066874366106

Highest train score = 0.30991534110122776
Corressponding test score = 0.39643066874366106
For 58 selected features

Highest test score = 0.4209367625210728
Corressponding test score = 0.2772300924468588
For 23 selected features

##  Random Forest Regression model

In [152]:
X = df_norm.drop(['Name', 'Price'], axis = 1)
X = np.array(X)
y = np.array(df_norm['Price'])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=53)

In [153]:
rfr = RandomForestRegressor(n_estimators=100)
rfr_model = rfr.fit(X_train,y_train)

In [154]:
print("test score =", rfr_model.score(X_test,y_test))
print("train score =", rfr_model.score(X_train,y_train))

test score = 0.5223888638458792
train score = 0.8740439153370846