In [124]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [125]:
df = pd.read_csv("Hotel-Pricing-Analysis/Dataset/Cleaned_Score/mumbai_hotels_scored_cleaned.csv")
df

,Name,Latitude,Longitude,Air conditioning,Housekeeping,Private balcony,Private bathrooms,VIP room facilities,Complimentary toiletries,Room service,...,Landmark view,Pool view,Non-smoking rooms,Smoking rooms available,Suites,Rating,Number of reviews,Price,Distance Score,Review Score
0,Lemon Tree Premier-Mumbai International Airport,19.107975,72.882187,1,0,0,0,0,0,1,...,0,0,1,1,1,4.5,382,3883,163.06,8.42
1,The Fern - Goregaon,19.162237,72.857132,1,0,0,0,0,0,1,...,0,0,1,1,1,4.5,771,3541,134.39,9.27
2,"Taj Lands End, Mumbai",19.043695,72.819252,1,1,0,1,1,1,1,...,1,1,1,1,1,4.5,4732,5459,208.03,9.50
3,Grand Hyatt Mumbai Hotel & Residences,19.076893,72.851112,1,1,0,1,1,1,1,...,0,1,1,1,1,4.5,4709,5617,201.62,9.50
4,"Trident, Bandra Kurla, Mumbai",19.066547,72.867554,1,1,0,0,1,0,1,...,0,0,1,1,1,4.5,4613,5040,189.10,9.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,Fluorescent by Bizzgrow Hotels International A...,19.104584,72.861237,1,0,0,0,0,0,0,...,0,0,0,0,0,2.5,18,3204,196.24,2.85
405,Hotel Mumbai International,19.106827,72.859879,1,1,0,0,0,1,1,...,0,0,1,0,0,4.0,36,2368,202.11,4.67
406,Hotel Residency Park,18.952660,72.833076,1,0,0,0,0,0,1,...,0,0,1,0,1,3.5,9,1511,435.96,3.68
407,Hotel Sunshine,19.103537,72.879311,1,1,0,1,0,1,1,...,0,0,0,0,0,3.0,11,2911,155.40,3.22
408,Hotel Metro Point,19.127451,72.833580,1,0,0,0,0,0,1,...,0,0,0,0,1,1.0,1,2380,129.31,1.02

In [126]:
df_norm = df.copy(deep=True)
df_norm['Latitude'] = (df_norm['Latitude'] - min(df_norm['Latitude']))/(max(df_norm['Latitude']) - min(df_norm['Latitude']))
df_norm['Longitude'] = (df_norm['Longitude'] - min(df_norm['Longitude']))/(max(df_norm['Longitude']) - min(df_norm['Longitude']))
df_norm['Rating'] = (df_norm['Rating'] - min(df_norm['Rating']))/(max(df_norm['Rating']) - min(df_norm['Rating']))
df_norm['Number of reviews'] = (df_norm['Number of reviews'] - min(df_norm['Number of reviews']))/(max(df_norm['Number of reviews']) - min(df_norm['Number of reviews']))
df_norm['Price'] = (df_norm['Price'] - min(df_norm['Price']))/(max(df_norm['Price']) - min(df_norm['Price']))
df_norm

,Name,Latitude,Longitude,Air conditioning,Housekeeping,Private balcony,Private bathrooms,VIP room facilities,Complimentary toiletries,Room service,...,Landmark view,Pool view,Non-smoking rooms,Smoking rooms available,Suites,Rating,Number of reviews,Price,Distance Score,Review Score
0,Lemon Tree Premier-Mumbai International Airport,0.501838,0.302454,1,0,0,0,0,0,1,...,0,0,1,1,1,0.875,0.043924,0.142142,163.06,8.42
1,The Fern - Goregaon,0.640887,0.226777,1,0,0,0,0,0,1,...,0,0,1,1,1,0.875,0.088771,0.127262,134.39,9.27
2,"Taj Lands End, Mumbai",0.337118,0.112363,1,1,0,1,1,1,1,...,1,1,1,1,1,0.875,0.545423,0.210712,208.03,9.50
3,Grand Hyatt Mumbai Hotel & Residences,0.422188,0.208595,1,1,0,1,1,1,1,...,0,1,1,1,1,0.875,0.542772,0.217586,201.62,9.50
4,"Trident, Bandra Kurla, Mumbai",0.395677,0.258256,1,1,0,0,1,0,1,...,0,0,1,1,1,0.875,0.531704,0.192482,189.10,9.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,Fluorescent by Bizzgrow Hotels International A...,0.493147,0.239175,1,0,0,0,0,0,0,...,0,0,0,0,0,0.375,0.001960,0.112600,196.24,2.85
405,Hotel Mumbai International,0.498895,0.235073,1,1,0,0,0,1,1,...,0,0,1,0,0,0.750,0.004035,0.076227,202.11,4.67
406,Hotel Residency Park,0.103834,0.154119,1,0,0,0,0,0,1,...,0,0,1,0,1,0.625,0.000922,0.038940,435.96,3.68
407,Hotel Sunshine,0.490464,0.293767,1,1,0,1,0,1,1,...,0,0,0,0,0,0.500,0.001153,0.099852,155.40,3.22
408,Hotel Metro Point,0.551746,0.155640,1,0,0,0,0,0,1,...,0,0,0,0,1,0.000,0.000000,0.076749,129.31,1.02

In [127]:
X = df_norm.drop(['Name', 'Price'], axis = 1)
X = np.array(X)
X_o = df.drop(['Name', 'Price'], axis = 1)
X_o = np.array(X_o)

In [128]:
y = np.array(df_norm['Price'])
y_o = np.array(df['Price'])

In [129]:
Model = RandomForestRegressor()
Rfe = RFE(Model, n_features_to_select = 50)
Fit = Rfe.fit(X,y)
selected = Fit.support_
selected

array([ True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True])

In [130]:
tbd = []
l = len(selected)
for i in range(l):
    if selected[i]==False:
        tbd.append(i)
        
tbd

[4, 33, 44]

In [131]:
X = np.delete(X, tbd, 1)
X

array([[5.01837768e-01, 3.02454200e-01, 1.00000000e+00, ...,
        4.39243717e-02, 1.63060000e+02, 8.42000000e+00],
       [6.40887407e-01, 2.26777278e-01, 1.00000000e+00, ...,
        8.87710399e-02, 1.34390000e+02, 9.27000000e+00],
       [3.37118028e-01, 1.12363175e-01, 1.00000000e+00, ...,
        5.45423104e-01, 2.08030000e+02, 9.50000000e+00],
       ...,
       [1.03833897e-01, 1.54119138e-01, 1.00000000e+00, ...,
        9.22296518e-04, 4.35960000e+02, 3.68000000e+00],
       [4.90464134e-01, 2.93766563e-01, 1.00000000e+00, ...,
        1.15287065e-03, 1.55400000e+02, 3.22000000e+00],
       [5.51745880e-01, 1.55640051e-01, 1.00000000e+00, ...,
        0.00000000e+00, 1.29310000e+02, 1.02000000e+00]])

In [247]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=25)
# for random state = 42 and number of features = 25 the results are good
# also for random state = 40 and number of features = 50, test_size = 0.2 in both cases
# random_state = 40
# random_state = 59 for scores

In [248]:
reg = LinearRegression().fit(X_train,y_train)
reg_o = LinearRegression().fit(X_o,y_o)

In [249]:
print(reg.score(X_test,y_test))
print(reg_o.score(X_o, y_o))

0.4626622207912554
0.4352547593391882

In [250]:
rfr = RandomForestRegressor()
rfr_model = rfr.fit(X_train,y_train)

In [251]:
print("test score =", rfr_model.score(X_test,y_test))
print("train score =", rfr_model.score(X_train,y_train))

test score = 0.026631274388350223
train score = 0.8677280063232586

In [252]:
mx = 0
for i in range(100):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=i)
    rfr = RandomForestRegressor()
    rfr_model = rfr.fit(X_train,y_train)
    s = rfr_model.score(X_test, y_test)
    if s>mx:
        mx = s
        rs = i
print(rs, mx)

59 0.6100895602601711